.site-header .col-full{
  max-width:100%;
	padding-left:0;
	padding-right:0;
}

.site-header {
	opacity: 0.95;
	margin-bottom:5px;
  /*own sticky header css, search for "sticky" if want to restore to use stick header plugin*/
    position: fixed;
  	top: 0;
  	width: 100%

}

ul.products li.product.type-product h2.woocommerce-loop-product__title{
font-size: 0.9em;
  text-align: left;
}

ul.products li.product.product-category{

  height: 230px !important;
  width: 170px !important;
  margin-right: 15px !important;
  padding-left:15px !important;
  padding-right: 15px !important;
  display: inline-block !important;
  float: left !important;
}

ul.products li.product.type-product{
	height:350px; /* grid product heigh need to be fixed so that the float: left will not be blocked by some long product blocks*/
  width: 170px !important;
  margin-right: 15px !important;
  display: inline-block !important;
  float: left !important;

}
ul.products li.product.type-product.last,
ul.products li.product.product-category.last{
  margin-right: 15px !important;
}
/*grid product layout stop first product of the column from taking a new line*/
/*ul.products li.product.type-product.first,*/
ul.products li.product.product-category.first{
	clear: none !important;
}
/* clear: both the very first product after category to change it to a new line.
A clever way of selecting first class of emlement. Two parts needed: part 1 select all
element of class to desired value then part 2 take off all other elements except for the
first one.
https://philna.sh/blog/2018/03/18/css-first-of-class/
*/
ul.products li.product.type-product{
  clear: both !important;
}
ul.products li.product.type-product ~ li.product.type-product{
clear: none !important;
}
/*****/
li.product.type-product,
li.product.product-category{
margin-bottom:1em !important;
}

li.product.type-product span.price{

  width: 160px;
  position: absolute;
  bottom: 50px;
  right:5px;
  font-size: 1em;

}

a.button.product_type_grouped, a.button.add_to_cart_button{
/*display:none; */
  padding-top:3px !important;

  height: 30px;
  width: 160px;
  position: absolute;
  bottom: 30px;
  right:5px;

}

a.added_to_cart{
  padding-top:3px !important;

  height: 30px;
  width: 160px;
position: absolute;
  bottom: 0px;
  right:5px;
}

td.label img{
  max-width: 100px;
}
/* temperary used for seperating subcategories and products. later withdrawn.
.category-separator {display: block;
width:100%;
overflow: hidden;
height:0;
border:1px solid #000;
margin-bottom: 2.992em;
}
*/
/********/
/*hide product metadata i.e. sku (.sku_wrapper) tags (tagged_as) category .posted_in wpm_gtin_code_wrapper etc
.single-product div.product .product_meta .posted_in, .single-product div.product .product_meta .sku_wrapper, .single-product div.product .product_meta .tagged_as {
    display: none;
}*/

/*
 .home.page:not(.page-template-template-homepage) .site-header, .site-header
{
    margin-bottom: -125px;
}
*/
/**Meta slider plugin postioning */
.storefront-breadcrumb{
	margin-bottom: 0;
  /*own sticky header css related change,
comment out this margin-top if stop using own stick and start to use stick plugin*/
  margin-top:110px;

}


/* comment this out when using own sticky header css. Restore if start to use sticky header plugin*/
/*.home .entry-content{
	position:relative;
	top:-180px;
	margin-bottom:-170px;
}*/

.homepageslider{
	padding-bottom:10px !important;
}

/**Meta slider plugin */
.site-branding {

	padding-left:10px;
	position:relative;
	bottom: 10px;
	left:10px;

}
.content-area{
	margin-bottom:0px;
}

.col-full{
	max-width:100%;
		padding-left:0.5%;
		padding-right:0.5%;
}

.home .site{
	background-color:#f6f6f6;
}
h3.home-h3{
	background-color:#ffffff;
	margin-bottom:0;
	padding-left:2%;
	padding-top:10px;

	border:1px solid #d5d5d5;
	border-bottom-width: 0;

}

/*wpb slider plugin css*/
.wpb_slider_area{
	border:1px solid #d5d5d5;
	border-top-width: 0;

}
.owl-stage{
	background-color:#ffffff;

}
.wpb_slider_area{

	margin-bottom:10px;
	box-shadow: 0px 5px 5px -3px #ccc;
}
.grid figcaption h3.pro_title {
	font-size:0.8em;
	line-height:1em;
}
div.pro_price_area{
	font-size:0.8em;
}
/*wpb slider plugin css end*/

div.ml-slider-3-12-1{
	padding-bottom:10px;
}

.home ul.products li.product{
		margin-bottom:0;
		padding: 0px 0px 0px 5px;
}

.home ul.products{
	background-color:#ffffff;
	margin-bottom:20px;
	padding-bottom:15px;
	box-shadow: 3px 5px 5px 3px #fff;
/*keep product li same height*/
/*	display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; overflow: hidden;*/
}

/*keep the add to basket button down at the bottom*/
/*ul.products li.product .woocommerce-LoopProduct-link{
	height:90%
}*/
/*
.storefront-full-width-content .site-main ul.products.columns-6 li.product {
	width:16.15%;
	margin-right:0.5%;


}*/


.site-footer{
	padding-left:2%;
	padding-right:2%;
}


/*Make Your Account menu smaller*/
#mega-menu-wrap-primary #mega-menu-primary li#mega-menu-item-947:last-child{
	margin-left:20px;
}

#mega-menu-wrap-primary #mega-menu-primary li#mega-menu-item-947:last-child a.mega-menu-link{
	font-size:0.85em
}
/*********/
/*topbar fade out*/
#wfspb-top-bar{

    -webkit-animation: fadeout 10s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 10s; /* Firefox < 16 */
        -ms-animation: fadeout 10s; /* Internet Explorer */
         -o-animation: fadeout 10s; /* Opera < 12.1 */
            animation: fadeout 10s;


}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0.5; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0.5; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0.5; }
}


/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0.5; }
}
/********/

/*without powerback*/
/*berocket filter*/
/*check box label indentation*/
div.berocket_single_filter_widget input[type="checkbox"]{
float:left;
}
.berocket_aapf_widget label.berocket_label_widgets{
display: block;
margin-left: 18px;

}
/*price filter slider bar*/
.berocket_filter_slider.ui-widget-content .ui-slider-range, .berocket_filter_price_slider.ui-widget-content .ui-slider-range {
    background: none repeat scroll 0 0 #84c20e !important;

}

.berocket_aapf_widget li.slider div.slide{
	    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
/*price filter min max price input*/
.berocket_aapf_widget li.slider span.left input, .berocket_aapf_widget li.slider span.right input{
	border: 1px solid #84c20e !important;
	background-color:#eff9f1 !important;
	border-radius:15px;

}
.berocket_aapf_widget li.slider span.left input:hover, .berocket_aapf_widget li.slider span.right input:hover{
	background-color:#d3ecd8 !important;
}

.berocket_aapf_widget li.slider span.left input:focus,
.berocket_aapf_widget li.slider span.right input:focus{
	outline: none;
	background-color:#ffffff !important;
}

#site-navigation{
	width:100%;
	position:absolute;
	top:87px;
	box-shadow: 0px 5px 5px -3px #999;
}

.site-search {
	position:absolute;
	top:35px;
	width:100% !important;
  /*height need be 0 so that the brand home link will be be overlayed*/
	height:0;
	margin-bottom:0;
}

.dgwt-wcas-search-wrapp{

	border:solid;
	border-width:2px;
	border-color:#84c20e;
	border-radius:25px;
}

.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input{
	border:none;
	border-radius:25px;
	background-color:#eff9f1;
	font-size:16px;
}

.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:hover{
	border:none;
	border-radius:25px;
	background-color:#d3ecd8;

}

.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:focus{
	border-radius:25px;
	background-color:#ffffff !important;
}

/*Header mini shopping cat related*/
.site-header-cart {
	position:absolute;
	top:30px;
	right: 50px;
  	max-width: 400px;
}

/*mini cat content fixed size*/
.site-header-cart .widget_shopping_cart{
  width: 400px;
  margin-left:-200px;
}
/*mini cat title smaller*/
ul.site-header-cart li:not(.woocommerce-mini-cart-item){
	height:30px;
	max-width:150px;
	min-width:140px;
	margin-left:50px

}

/*
 * malinky Load More button
 */
.malinky-load-more{
	display: block;
	clear:left;
	padding-top: 10px;
}

#malinky-ajax-pagination-button{
	background-color: #84c20e;
	text-decoration:none;
	color:#ffffff;
	font-size: 1.8em;
	border-radius:25px;
	padding-top:8px;
	padding-bottom:10px;
	padding-left:25px;
	padding-right:25px;
}
#malinky-ajax-pagination-button:hover{
	background-color: #7ea92e;
}


/*without powerback end*/


#secondary{
	width:15%;
  margin-right:0;
  padding-right: 10px;
}

.archive #primary{
  width: 85%;

}



@media only screen and (min-width: 2000px){

  #secondary{
	width:12%;
}
.archive #primary{
width:88%
}

}

@media only screen and (max-width: 1500px) {
    #secondary{
	width:20%;
  }
  .archive #primary{
  width:80%
  }
}

@media only screen and (max-width: 1300px) {
	.site-header {
		max-width:100%;
		padding-left:0;
		padding-right:0;

	}

	.col-full{
		max-width:100%;
		margin-left:auto;
		margin-right:auto;

	}

	.site-branding {
	padding-left:0px;

	}
	/*without powerback*/
	.site-header-cart {
		max-width:150px;
	}
	.site-search {
	right:250px;
	width:50% !important;
	height:0;
	margin-bottom:0;
	}
	/*without powerback end*/
	/*product title font size*/
	ul.products li.product .woocommerce-loop-product__title, ul.products li.product h2{
		font-size:0.8em;
	}

  }
/*own sticky header css related change,
restore to margin-top: 30px if stop using own stick and start to use stick plugin*/
@media only screen and (max-width: 1130px) {
  .storefront-breadcrumb{
  	margin-top: 145px;/*need at least 30px without sticky header to show the samll navigation links when menue become double line*/
  }
}
@media only screen and (max-width: 1000px) {
	.custom-logo{
		width:200px;
	}
	.site-header .col-full{
		margin-bottom:5px;
	}
		/*meta slider plugin css*/


		/*meta slider plugin css end*/

	/*without powerback*/
	.site-search {

	right:200px;
	width:45% !important;
	height:0;
	margin-bottom:0;
	}
	/*without powerback end*/
    #secondary{

    }
    .archive #primary{

    }
}

/*without powerback*/
@media only screen and (max-width: 820px) {
      #secondary{
      width: 28%;
  }
  .archive #primary{
    width: 72%;
  }
   ul.products li.product.product-category,
  ul.products li.product.product-category.last,
  ul.products li.product.type-product,
  ul.products li.product.type-product.last{
	width: 160px;
  margin-right: 5px !important;
  }
}
@media only screen and (max-width: 768px) {
    #secondary{
      width: 30%;
	float:left;
      padding-left: 5px;
  }
  .archive #primary{
    width: 70%;
  float:right;
  }


  .mob-standard-logo{
		width:130px;
	}

	.site-content{
		padding-left:0.5%;
		padding-right:0.5%;
}
    .storefront-breadcrumb{
  	  margin-top: 0px !important;
      padding-top: 5px;
      padding-bottom: 5px;
  }
	/*meta slider plugin css*/
/*div.ml-slider-3-12-1.metaslider.metaslider-flex.metaslider-1279.ml-slider.ms-theme-cubic.has-dots-nav.ms-loaded.ms-is-small{
	padding-bottom:10px;
	}*/
/*
	div.alignnormal{
	position:relative;
	top:-70px;
	margin-bottom:-70px;
}
*/


.home .entry-content{
	position:relative;
	top:-70px;
	margin-bottom:-70px;

}


		/*meta slider plugin css end*/
.storefront-handheld-footer-bar ul li.search .site-search{
		width:90% !important;
		margin-left:auto;
		margin-right:auto;
	}

	.storefront-handheld-footer-bar ul li.search.active .site-search{
		bottom:100px;
		background-color:transparent;
	}

	.dgwt-wcas-search-wrapp{
		height:50px;
	}
	 li.product {
		border-bottom-width:thin;
		border-bottom-color:#eaeded;
		border-bottom-style:dashed;
	}

	/*without powerback end*/
	/*product title font size*/
		ul.products li.product .woocommerce-loop-product__title, ul.products li.product h2{
		font-size:1em;
	}
  /*smaller size of product title when screen size is small*/
  h1.product_title.entry-title{
  font-size: 1.5em;
  }
}

@media only screen and (max-width: 600px) {

  /*adjust the group product option table layout when screen size
  becomes very small
  */




/*to show the group option thumbnail when screen size becomes small*/
  .group_table td.label {
  padding:0;
  }
  /*other realted adjustment for group product option table*/
  table.group_table td {
  padding-left: 2px;
    padding-right: 2px;
  }
  .group_table td.woocommerce-grouped-product-list-item__quantity{
	max-width: 50px;
  }
  td.woocommerce-grouped-product-list-item__quantity input.input-text.qty.text{
  max-width: 46px;
  }
  td.label img{
  max-width: 60px;
}
}
@media (max-width: 515px){
    .archive #primary{
	width: 72%;

	}
  .archive #secondary{
	width: 28%;
  }
}

@media only screen and (max-width: 500px){
  ul.products{

    width:360px;
    margin-left:auto;
    margin-right:auto;
  }
  ul.products li.product.product-category,
  ul.products li.product.product-category.last,
  ul.products li.product.type-product,
  ul.products li.product.type-product.last{

    width: 170px !important;
  	margin-right: 5px !important;
    margin-left: 5px !important;
  }

  .archive #primary{
	width: 100%;

	}
  .archive #secondary{
	width: 100%;
  }
  /*own stick header css realted change to show the slider on home page, remove this when stop using own sticky and use sticky plugin*/
  .home .entry-content{
  margin-top:70px;
  }
}

/*for very small screen show single column, this is very unlikely to happen for device screen nowadays*/
@media only screen and  (max-width: 359px){
  	ul.products{
    width:180px;
  }
}
